.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

/************************************BACKGROUND*/
.bgGradientGreen {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 52%,
    rgba(41, 89, 96, 1) 52%
  );
}

.bgGradientGreen img {
  border: 15px solid rgba(41, 89, 96, 1);
}

.bgGreen {
  background-color: rgba(41, 89, 96, 1);
}

.ligne-white {
  height: 3px;
  background-color: white;
  width: 50%;
}

.ligne-purple {
  height: 3px;
  background-color: #3a1044;
  width: 50%;
}

/**********************************COLORS*/

.text-cyan {
  color: #c2fff0;
}

.text-purple {
  color: #3a1044;
}

.bgGreen a {
  text-decoration: none;
  color: white;
}

.bgGreen a:hover {
  color: #c2fff0;
}

em {
  color: rgba(41, 89, 96, 1);
  font-weight: bold;
  font-style: normal;
}

.text-purple a {
  text-decoration: none;
  color: #3a1044;
}

.text-purple a:hover {
  color: rgba(41, 89, 96, 1);
}
